@charset "UTF-8";

body 
    {background-color: rgb(100, 206, 100);
    font-family: Arial, Helvetica, sans-serif;}

h1#Principal
    {text-align: center;
    background-color: green;
    color: white;}

h1  
    {color: rgb(2, 77, 2);}

h2
    {color: rgb(4, 41, 4);}

.basico
        {color: rgb(46, 151, 151);
        font-weight: bolder;}

.intermediario
        {color: rgb(161, 161, 42);
        font-weight: bolder;}

.avancado
        {color: rgb(180, 39, 39);
        font-weight: bolder;}

.destaque
        {background-color: rgba(76, 147, 150, 0.76);}

    /*  em HTML ==> id = CSS ==> # (somente um ID)
        em HTML ==> class = CSS ==> . (pode ter varias class) */ 